.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  font-weight: 700;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem 1rem;
  background-color: $main;
  
  &__brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin: 0 auto;
    font-size: 1.8rem;
    white-space: nowrap;
    color: #fff;
  }
}